- if @next_game
  %h2#next_game_title= t('.title')

  #next_game_countdown
    = image_tag 'current_game.png', id: 'game_indicator'
    #countdown{ :'data-timeleft' => (@next_game.start_at - Time.now).to_i, :'data-timestamp' => l(@next_game.start_at.utc, format: :countdown), :'data-timezone' => 0 }